* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  background-color: lightsalmon;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.heading__h1 {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px black;
}

.password-and-checking-wrapper {
  display: flex;
  flex-direction: column;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-form__input {
  border: 1.5px solid black;
  border-radius: 2px;
  margin: 0.22rem;
  font-family: inherit;
  width: 10rem;
  height: 1.4rem;
}

.password-form__button {
  background-color: black;
  color: white;
  padding: 0rem 1rem;
  border: 1.5px solid black;
  border-radius: 2px;
  font-weight: 400;
  font-family: inherit;
  width: 10rem;
  height: 1.4rem;
  margin: 0.22rem;
}

.checking-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.checking-zone__line {
  margin: 0.2rem;
}
